node_modules/
dist/
coverage/
reference/
storybook-static/
static/storybook/

# website
website/node_modules
website/build
website/.docusaurus
website/docs/api/
website/typedoc-sidebar.js
website/static/storybook/